.carousel {
    width: 100%;
}

.carousel-indicators {
    bottom: -4em;
}

.carousel-indicators > li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: lightgrey;
}

.carousel-indicators > li.active {
    background-color: grey;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.carousel-item {
    display: block;
    margin-right: 1em;
}

.carousel-item.active {
    width: 120%;
    transition: transform .6s ease;
}

.card {
    height: 100%;
}


