.carousel {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.carousel .carousel-indicators {
  position: relative;
  bottom: 0;
}
.carousel .carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: lightgrey;
}
.carousel .carousel-indicators li.active {
  background-color: grey;
}
.carousel .carousel-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  height: 600px;
  width: 100%;
}
.carousel .carousel-inner .carousel-item {
  display: block;
  margin-right: 1em;
  opacity: 0.75;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  height: 98%;
}
.carousel .carousel-inner .carousel-item.active {
  opacity: 1;
  height: 100%;
  transition: height 0.25s ease;
}
.carousel .carousel-inner .carousel-item .card {
  border-radius: 18px;
  padding: 1em;
  border: none;
  min-width: 500px;
}
